<mk-box header="Cadastro de Usuarios" [isCollapsable]="false" [isRemovable]="false">
  <section class="content">
    <form role="form" [formGroup]="usuarioForm" (ngSubmit)="manterUsuario()">
      <div class="box-body">
        <div class="row">
          <div class="col-lg-6">
            <label for="inputLogin">Login</label>
            <input type="login" class="form-control" formControlName="login" [(ngModel)]="usuario.login"
              [ngClass]="{ 'is-invalid' : isSubmited && formControls.email.error }" placeholder="login" autofocus>
            <div *ngIf="isSubmited && formControls.login.errors" class="invalid-feedback">
              <div *ngIf="formControls.login.errors.required">Por favor informe o login</div>
              <div *ngIf="formControls.login.errors.login">Informe um login válido</div>
            </div>
          </div>

          <div class="col-lg-6">
            <label for="InputPassword1">Senha</label>
            <input type="password" class="form-control" formControlName="senha" [(ngModel)]="usuario.senha"
              placeholder="Senha">
            <div *ngIf="isSubmited && formControls.senha.errors" class="invalid-feedback">
              <div *ngIf="formControls.senha.errors.required">Por favor informe a senha</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <label>Nome</label>
            <input type="text" class="form-control" formControlName="nome" [(ngModel)]="usuario.nome"
              placeholder="Nome">
            <div *ngIf="isSubmited && formControls.nome.errors" class="invalid-feedback">
              <div *ngIf="formControls.nome.errors.required">Por favor informe o nome</div>
            </div>
          </div>

          <div class="col-lg-6">
            <label>Perfil</label>
            <select class="form-control" style="width: 100%;" formControlName="perfil" [(ngModel)]="usuario.perfil.id">

              <option value="1">Gerente</option>
              <option value="2">Balconista</option>
              <option value="3">Pizzaiolo</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <label>Email</label>
            <input type="text" class="form-control" formControlName="email" [(ngModel)]="usuario.email"
              placeholder="Email" />
          </div>
          <div class="col-lg-6">
            <label>Sexo</label>
            <select class="form-control" style="width: 100%;" formControlName="sexo" [(ngModel)]="usuario.sexo">

              <option value="M">Masculino</option>
              <option value="F">Feminino</option>
            </select>
          </div>
        </div>

      </div>
      
      <div class="row">
          <div class="col-lg-6">
            <button [disabled]="loading" type="submit" class="btn btn-primary">Salvar</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />        </div>
        </div>

    </form>
  </section>
</mk-box>