<mk-box header="Cadastro de Produtos" [isCollapsable]="false" [isRemovable]="false">
    <section class="content">
  
      <form role="form" [formGroup]="produtoForm" (ngSubmit)="manterProduto()">
  
        <div class="box-body">
  
          <div class="row">
  
  
            <div class="col-lg-6">
  
              <label for="inputDescricao">Nome do Produto</label>
              <input type="text" class="form-control" formControlName="nomeProduto" [(ngModel)]="produto.nomeProduto"
                [ngClass]="{ 'is-invalid': isSubmited && formControls.nomeProduto.errors }" placeholder="Produto" autofocus>
                <div *ngIf="isSubmited && formControls.nomeProduto.errors" class="invalid-feedback">
                  <div *ngIf="formControls.nomeProduto.errors.required">Por favor informe o login</div>
                  <div *ngIf="formControls.nomeProduto.errors.nomeProduto">Informe um login válido</div>
                </div>
            </div>
            <div class="col-lg-6">
              <label for="inputValor">Valor do Produto</label>
              <input type="text" class="form-control" formControlName="valor" [(ngModel)]="produto.valor"
                placeholder="Valor">
                <div *ngIf="isSubmited && formControls.valor.errors" class="invalid-feedback">
                  <div *ngIf="formControls.valor.errors.required">Por favor informe o valor</div>
                  <div *ngIf="formControls.valor.errors.valor">Informe um valor válido</div>
                </div>  
            </div>
          </div>
  
          <div class="row"> 
            <div class="col-lg-6">
              <label>Tamanho</label>
              <select class="form-control" style="width: 100%;" formControlName="tipoPizza" [(ngModel)]="produto.tipoPizza.id">
                <option>Selecione...</option>
                <option value="1" >Inteira</option>
                <option value="2">Broto</option>
              </select>
            </div>
          </div>
  
  
        </div>
        <div class="row">
          <div class="col-lg-6">
            <button [disabled]="loading" type="submit" class="btn btn-primary">Enviar</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />        </div>
        </div>
      </form>
    </section>
  </mk-box>