<!-- DASHBOARD ADM -->
<ng-container *ngIf="dashboardAdm">

  <section class="content">
    <div class="row">
       <h2>Administração</h2> <br/>
      <div class="col-lg-3 col-xs-6">

        <div class="small-box bg-aqua">
          <div class="inner">
            <h3>{{qtdProdutosCadastrado}}</h3>

            <p>Produtos Cadastrados</p>
          </div>
          <div class="icon">
            <i class="ion ion-pizza"></i>
          </div>
          <a routerLink="/cadastros/cad-produtos" class="small-box-footer">Mais informações <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>

      <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3>{{qtdUsuariosCadastrado}}</h3>

            <p>Funcionários Registrados</p>
          </div>
          <div class="icon">
            <i class="ion ion-person"></i>
          </div>
          <a routerLink="/cadastros/listar-usuarios" class="small-box-footer">Mais informações <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>

      <br />
    </div>
    <br/>
    <div class="row">
      <h2>Pedidos</h2> <br/>
      <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>+</h3>

              <p>Cadastro de Pedido</p>
            </div>
            <div class="icon">
              <i class="ion-plus-circled"></i>
            </div>
            <div class="small-box-footer" (click)="cadastrarPedido()">Cadastrar <i class="fa fa-arrow-circle-right"></i></div>
          </div>
        </div>

        
      <div class="col-lg-3 col-xs-6">

        <div class="small-box bg-aqua">
          <div class="inner">
            <h3>{{pedidosEmAberto}}</h3>

            <p>Pedidos em Aberto</p>
          </div>
          <div class="icon">
            <i class="ion ion-pizza"></i>
          </div>
          <div class="small-box-footer" (click)=" listarPedidosByStatus(1)" >Mais informações <i class="fa fa-arrow-circle-right"></i></div>
        </div>
      </div>

      <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-green">
          <div class="inner">
            <h3>{{pedidosEmAndamento}}</h3>

            <p>Pedidos em Preparação</p>
          </div>
          <div class="icon">
            <i class="icon icon ion-happy-outline"></i>
          </div>
          <div class="small-box-footer" (click)=" listarPedidosByStatus(2)">Mais informações <i class="fa fa-arrow-circle-right"></i></div>
        </div>
      </div>

      <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-red">
          <div class="inner">
            <h3>{{pedidosFinalizado}}</h3>

            <p>Pedidos Finalizados</p>
          </div>
          <div class="icon">
            <i class="icon ion-checkmark"></i>
          </div>
          <div class="small-box-footer" (click)=" listarPedidosByStatus(3)">Mais informações<i class="fa fa-arrow-circle-right"></i></div>
        </div>
      </div>
    </div>

  </section>

</ng-container>

<ng-container *ngIf="dashboardBalconista">

  
  <section class="content">
      <div class="row">

          <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-yellow">
                <div class="inner">
                  <h3>+</h3>
    
                  <p>Cadastro de Pedido</p>
                </div>
                <div class="icon">
                  <i class="ion-plus-circled"></i>
                </div>
                <div class="small-box-footer" (click)="cadastrarPedido()">Cadastrar <i class="fa fa-arrow-circle-right"></i></div>
              </div>
            </div>

            
          <div class="col-lg-3 col-xs-6">
    
            <div class="small-box bg-aqua">
              <div class="inner">
                <h3>{{pedidosEmAberto}}</h3>
    
                <p>Pedidos em Aberto</p>
              </div>
              <div class="icon">
                <i class="ion ion-pizza"></i>
              </div>
              <div class="small-box-footer" (click)=" listarPedidosByStatus(1)" >Mais informações <i class="fa fa-arrow-circle-right"></i></div>
            </div>
          </div>
    
          <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-green">
              <div class="inner">
                <h3>{{pedidosEmAndamento}}</h3>
    
                <p>Pedidos em Preparação</p>
              </div>
              <div class="icon">
                <i class="icon icon ion-happy-outline"></i>
              </div>
              <div class="small-box-footer" (click)=" listarPedidosByStatus(2)">Mais informações <i class="fa fa-arrow-circle-right"></i></div>
            </div>
          </div>
    
          <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-red">
              <div class="inner">
                <h3>{{pedidosFinalizado}}</h3>
    
                <p>Pedidos Finalizados</p>
              </div>
              <div class="icon">
                <i class="icon ion-checkmark"></i>
              </div>
              <div class="small-box-footer" (click)=" listarPedidosByStatus(3)">Mais informações<i class="fa fa-arrow-circle-right"></i></div>
            </div>
          </div>
        </div>
  </section>
</ng-container>